<p>
  <strong>Title:</strong>
  <%= @napkin.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @napkin.text %>
</p>

<%= link_to 'Edit this idea', edit_article_path(@article) %><br>
<%= link_to 'Back', napkins_path %>